/* src/assets/main.css */
.top-bar {
  background-color:#F7E7CE;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.logo {
  height: 50px;
  margin-left: 10px;
}

.title {
  margin: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, select {
  margin: 10px;
  padding: 10px;
  width: 80%;
}

.form-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 10px;
}

.paciente-card {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.card-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

